<ion-grid class="ion-text-center ion-margin">
  <ion-row>
<!--show only when have not products-->
    <ion-col *ngIf="userOrderService.numProducts() == 0">
      <ion-text>{{'label.no.products' | translate }}</ion-text>
    </ion-col>

<!--showing when we have more than 0 products-->
    <ion-col *ngIf="userOrderService.numProducts() > 0">
      <ion-list>
        
          <ng-container *ngFor="let quiantityProducts of userOrderService.getProducts()">
            <ion-item>
        <!--name of products-->
              <ion-label class="ion-text-wrap">
                {{quiantityProducts.product.name | translate}}
              </ion-label>
            </ion-item>

        <!--quantity of products-->
            <ion-card>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-label>{{'label.quantity' | translate}}</ion-label>
                  <ion-icon (click)="userOrderService.oneLessProduct(quiantityProducts.product)" name="add-circle-outline"></ion-icon>
                  <ion-text class="ion-cadding">{{quiantityProducts.quiantity}}</ion-text>
                  <ion-icon (click)="userOrderService.oneMoreProduct(quiantityProducts.product)" name="add-circle-outline"></ion-icon>
                </ion-item>

        <!--precio total sumando los quantitys-->
                <ion-item lines="none">
                  <ion-label>
                    {{('label.total' | translate) + userOrderService.totalPrice(quiantityProducts) + ' €'}}
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>

  <!-- total de todos los productos con su quiantity y products sumados-->
   <ion-row *ngIf="userOrderService.numProducts() > 0">
    <ion-col>
      <ion-item>
        <ion-label>
          {{('label.total.order' | translate) + userOrderService.totalOrder() + ' €'}}
        </ion-label>
      </ion-item>
    </ion-col>
   </ion-row>
</ion-grid>