<form (ngSubmit)="login()">
  <ion-grid>
    <!--email-->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input [label]="'label.email' | translate" type="text" [(ngModel)]="user.email" name="email">

          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!--password-->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input [label]="'label.password' | translate" type="password" [(ngModel)]="user.password" name="password">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!--buttons for back first and second for submit-->
    <ion-row>
      <ion-col *ngIf="showBack">
        <ion-button type="button" expand="block" (click)="exit()">
          {{'label.back' | translate}}
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button type="submit" expand="block" >
          {{'label.login' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <a (click)="createNewAccount()">{{'label.new.account' | translate}}</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
