<ion-content>

<!--refreshhh-->
    <ion-refresher slot="fixed" (ionRefresh)="refreshProducts($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

<!--container with for, img and titles-->
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let product of products">
                <ion-card class="ion-text-center list d-flex justify-content-center flex-column m-0 p-0" (click)="goToProduct(product)">
                    <!--img of food-->
                    <ion-img [src]="'assets/img/products/' + product.img" class="p-0 m-0"></ion-img>
                    <!--name-->
                    <ion-card-header>
                        <ion-card-title>
                            {{product.name | translate}}
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>