<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
<!--font  pokemon-->
<link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">


<style>
  .header{
    background: url('assets/img/pokedex-header.png') no-repeat;
    background-size: cover;
  }
  ion-text{
    color: black;
  }
</style>

<!--header-->
<ion-header [translucent]="true">
  <ion-toolbar class="m-0 header" style="height: 70px;">
    <ion-title class="p-2 me-2 ms-2">
      <div class="d-flex justify-content-between align-items-center p-0 mt-3">
        <h1 class="text-info saturn" style="font-size: 40px;">Saturn<a href="#"><ion-icon name="planet-outline"></ion-icon></a></h1>
        <a href="https://pokeapi.co/" class="text-white me-2" style="text-decoration: none;">ListPokeAPI <img src="../../../assets/pokeball.svg" style="height: 30px; width: 30px;" alt=""></a>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--car of pokemon and the pokemon is total load-->
<ion-content>
  <ion-card *ngIf="pokemon" class="p-0 m-0"><!--if pokemon dont exist-->

    <!--title-->
    <ion-card-title class="ion-text-center mt-5 text-dark">
      <ion-title><h1 style="font-family: 'Pokemon Solid', sans-serif;">{{pokemon.name}}</h1></ion-title>
    </ion-card-title>
    
    <!--img of pokemon-->
    <ion-img [src]="pokemon.sprite" class="p-0 m-0"></ion-img>

    <hr>

    <!--information row one-->
    <ion-card-content class="ion-align-items-center">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text>Type</ion-text>
          </ion-col>

          <ion-col class="ion-padding-start ion-pagddin-end">
            <ion-img [src]="'assets/img/'+pokemon.type1+'.gif'"></ion-img>
          </ion-col>

          <ion-col class="ion-padding-start ion-pagddin-end">
            <ion-img *ngIf="pokemon.type2" [src]="'assets/img/'+pokemon.type2+'.gif'"></ion-img>
          </ion-col>
          
        </ion-row>

        <br><hr>

        <!--information row two-->
        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <ion-text>Abilities</ion-text>
          </ion-col>

          <ion-col size="8" class="ion-text-center">
            <ion-text *ngFor="let ability of pokemon.abilities">{{ability}}</ion-text>
          </ion-col>
        </ion-row>

        <br><hr>

        <!--imformation row three-->
        <ion-row *ngIf="pokemon.hiddenAbility">
          <ion-col size="4" class="ion-text-center">
            <ion-text>Hadden abilities</ion-text>
          </ion-col>

          <ion-col size="8" class="ion-text-center">
            <ion-text>{{pokemon.hiddenAbility}}</ion-text>
          </ion-col>
          
        </ion-row>

        <br><hr>

        <!--weight and height-->
        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <ion-text>Weight</ion-text>
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <ion-text>{{pokemon.weight + ' Kg'}}</ion-text>
          </ion-col>
        </ion-row>

        <br><hr>

        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <ion-text>Height</ion-text>
          </ion-col>
          <ion-col size="8"  class="ion-text-center">
            <ion-text>{{pokemon.height + ' mtrs'}}</ion-text>
          </ion-col>
        </ion-row>

        <hr>
    <!--basic statistics-->
        
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text>Basic tatistics</ion-text>
          </ion-col>
        </ion-row>

        <hr>
        <!--HP-->
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">HP</ion-text>
          </ion-col>

          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">{{pokemon | getStart: 'hp'}}</ion-text>
          </ion-col>
        </ion-row>

        <hr>
        <!--Attack-->
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">Attack</ion-text>
          </ion-col>

          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">{{pokemon | getStart: 'attack'}}</ion-text>
          </ion-col>
        </ion-row>

        <hr>
        <!--Defense-->
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">Defense</ion-text>
          </ion-col>

          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">{{pokemon | getStart: 'defense'}}</ion-text>
          </ion-col>
        </ion-row>

        <hr>
        <!--Special Attack-->
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">Special Attack</ion-text>
          </ion-col>

          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">{{pokemon | getStart: 'special-attack'}}</ion-text>
          </ion-col>
        </ion-row>

        <hr>
        <!--Special defense-->
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">Special Defense</ion-text>
          </ion-col>

          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">{{pokemon | getStart: 'special-defense'}}</ion-text>
          </ion-col>
        </ion-row>

        <hr>
        <!--Speed-->
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">Speed</ion-text>
          </ion-col>

          <ion-col class="ion-text-center">
            <ion-text class="ion-text-center">{{pokemon | getStart: 'speed'}}</ion-text>
          </ion-col>
        </ion-row>
        
        

      </ion-grid>
    </ion-card-content>

  </ion-card>
</ion-content>


<!--botton in the buttom-->

  <ion-fab  horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="goBack()"> <!--llamamos a la funcion que tiene el navparams.pop para regresar-->
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

