<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class=" d-flex align-items-strech justify-content-between">
        <h1 class="text-info saturn">Saturn<a href="#"><ion-icon name="planet-outline"></ion-icon></a></h1>
        <p class="mt-2">Todo List</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-item>
  <ion-input type="text" label="Item: " placeholder="Add" [(ngModel)]="item" name="item"></ion-input>
  <ion-button [disabled]="!item" (click)="addItem()">
    <ion-icon name="bag-add-outline"></ion-icon>
  </ion-button>
</ion-item>


</ion-content>
