<ion-content class="">

    <!--refreshhh-->
    <ion-refresher slot="fixed" (ionRefresh)="refreshCategories($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <ion-row class="list-food">
            <!--recorremos lo que nos viene de mongo que tenemos en categories-->
            <ion-col size="6" *ngFor="let category of categories"> 
                <ion-card class="ion-text-center list d-flex justify-content-center flex-column m-0 p-0" (click)="goToProducts(category)">
                    <!--img of food-->
                    <ion-img [src]="'assets/img/products/'+category.img" class="p-0 m-0"></ion-img>

                    <ion-card-header>
                        <ion-card-title>
                            {{category.name | translate}}
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>